header {
  padding-bottom: 10px;
}

.nav-item {
  padding: 20px;
}

.nav-link {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  text-decoration: underline;
  scale: 1.05;
}

.logo-chico {
  width: 130px;
}

@media screen and (max-width: 768px) {
  .logo-chico {
    width: 230px;
    display: inline-block;
  }
}
.logo-chico:hover {
  width: 135px;
}

.nav-link-r {
  font-size: 20px;
  justify-content: left;
  font-weight: 300;
}

.nav-item-r {
  padding-left: 50px;
  font-size: 16px;
}

.nav-item-r:hover {
  text-decoration: none;
}

.navbar-toggler-r {
  border: 0;
}

.navbar-toggler-r:focus {
  border: 1px;
  color: #DFDBD4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button {
  border: 0px;
  color: #4f4f4f;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
  text-decoration-color: #4f4f4f;
  font-size: 17px;
}

.button-pie {
  color: black;
}

.button-pie:hover {
  text-decoration: underline;
  font-weight: 500;
}

a {
  color: black;
  text-decoration: none;
}

.button-chico {
  background-color: #DFDBD4;
  color: black;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  border: 0;
  border-radius: 50rem;
}

.button-grande {
  background-color: black;
  color: #DFDBD4;
  padding: 10px;
  font-size: 24px;
  text-align: center;
  border: 0;
  border-radius: 50rem;
}

.button-chico:hover {
  background-color: #C7B299;
}

.box {
  height: 50dvh;
  transition: all;
  margin-bottom: 20px;
}

.pintura-acervo {
  background: radial-gradient(#DFDBD4, #C7B299);
  position: relative;
  text-align: center;
  align-content: center;
}

.pintura-encargo {
  background: linear-gradient(#DFDBD4, #C7B299);
  position: relative;
  text-align: center;
  align-content: center;
}

.box:hover {
  scale: 1.05;
}

.pintura-acervo:hover {
  background: radial-gradient(#C7B299, #DFDBD4);
}

.pintura-encargo:hover {
  background: linear-gradient(#C7B299, #DFDBD4);
}

h1 {
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 50px;
}
h1 span-bold {
  font-weight: 800;
}

h1, h2, h3, h4, p {
  color: black;
}

h2 {
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 30px;
}
h2 span-destacado {
  font-size: 36px;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

.p-short {
  max-width: 90%;
  font-size: 20px;
}

body {
  font-family: Raleway;
  margin-left: 2%;
  margin-right: 2%;
}

img, video {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}

ul {
  font-size: 21px;
  font-weight: 700;
  color: black;
  display: inline;
}

.categoria {
  font-weight: 300;
}

.container-fluid {
  padding: 0px;
}

.texto-padding-der {
  padding-right: 20%;
}

.row-padb {
  padding-bottom: 100px;
}

.footer-pegado {
  position: absolute;
  bottom: 0;
}

.form-control-beige:focus {
  border-color: #DFDBD4;
  box-shadow: 0 0 0 0.25rem rgba(223, 219, 212, 0.5);
}

.fila-fotos {
  max-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 25%;
}

/*# sourceMappingURL=style.css.map */
