header {
    padding-bottom: 10px;
}

.nav-item {
    padding: 20px;
}

.nav-link {
    color: black;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    scale: 1.05;
}

.logo-chico {
    width: 130px;
} 

@media screen and (max-width: 768px) {
  .logo-chico {
    width: 160px;
    padding-bottom: 0;
}}

.logo-chico:hover  {
    width: 135px;
}

// hambuger
.nav-link-r {
    font-size: 16px;
    justify-content: center;
    font-weight: 400;
    padding-left: 30px !important;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .nav-link-r {
    padding-left: 0px !important;
}}

.collapse .navbar-collapse {
    display: flex;
    align-content: space-between;
}

.nav-item-r {
    padding: 0px;
    font-size: 16px;
}

.nav-item-r:hover {
    text-decoration: none;
}

.navbar-toggler-r {
    border: 0;
}

.navbar-toggler-r:focus {
    border: 1px;
    color: #DFDBD4;
}