h1 {
    font-size: 26px;
    font-weight: 500;
    span-bold {
        font-weight: 800;
    }
    padding-bottom: 50px;
}

h1,h2,h3,h4,p {
    color: black;
}

h2 {
    font-size: 23px;
    font-weight: 400;
    span-destacado {
        font-size: 36px;
    }
    padding-bottom: 30px;
}

h3 {
    font-size: 18px;
    font-weight: 300;
}

.p-short {
    max-width: 90%;
    font-size: 20px;
    //color: blue;
}